/node_modules
/public/hot
/public/data_ktp_tendik
/public/data_ijazah_tendik
/public/data_sertifikat_tendik
/public/data_ktp_dosen
/public/data_ijazah_dosen
/public/data_inpassing_dosen
/public/data_sertifikat_dosen
/public/data_jabfung_dosen
/public/data_photo_pengajuan
/public/data_photo_profil
/public/data_surat_masuk
/public/data_surat_keluar
/public/data_pengembangan
/public/data_lampiran_pelamar
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
